{%extends 'mainapp/base.html'%}
{%load static%}

{%block content%}
	<!-- main content -->
	<main class="main">
		<div class="container-fluid">
				<!-- breadcrumb -->


			<section class="row row--grid">
				<div class="col-12 col-xl-8">
					<div class="row row--grid">
						<!-- title -->
						<div class="col-12">
							<div class="main__title">
								<h2><a href="#">{{object.title}}</a></h2>
							</div>
						</div>
						<!-- end title -->

						<div class="col-12">
                            <div class="main__carousel-wrap">
                                    
                                    <div class="event" data-bg="{{object.photo.url}}">
                                        <a href="{%url 'buyticket' object.id%}" class="event__ticket"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M9,10a1,1,0,0,0-1,1v2a1,1,0,0,0,2,0V11A1,1,0,0,0,9,10Zm12,1a1,1,0,0,0,1-1V6a1,1,0,0,0-1-1H3A1,1,0,0,0,2,6v4a1,1,0,0,0,1,1,1,1,0,0,1,0,2,1,1,0,0,0-1,1v4a1,1,0,0,0,1,1H21a1,1,0,0,0,1-1V14a1,1,0,0,0-1-1,1,1,0,0,1,0-2ZM20,9.18a3,3,0,0,0,0,5.64V17H10a1,1,0,0,0-2,0H4V14.82A3,3,0,0,0,4,9.18V7H8a1,1,0,0,0,2,0H20Z"/></svg> Buy ticket</a>
                                        <span class="event__date">{{object.event_date}}</span>
                                        <span class="event__time">{{object.event_time}}</span>
                                        <h3 class="event__title"><a href="{%url 'eventdetail' object.id%}">{{event.title}}</a></h3>
                                        <p class="event__address">{{object.location}}</p>
                                    
                                    </div>
                                    
                                    
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="main__carousel-wrap">
                                    
                                    <p class="event__address">Descriptions</p>
                                    <p class="event__address">{{object.descriptions}}</p>

                                    
                                    
        
                               </div>
                        </div>
                    </div>
                </div>	
			</section>		
		</div>
	</main>
	<!-- end main content -->
    
{%endblock content%}