
  {%extends 'mainapp/base.html'%}
  {%load static%}
  {% block content%}
   
            <!-- profile -->
            <div class="container position-relative">
                <div class="py-5 edmund-profile row">
                    <div class="col-md-4 mb-3">
                        <div class="bg-white rounded shadow-sm sticky_sidebar overflow-hidden">
                            <a href="{%url 'profile'%}" class="">
                                <div class="d-flex align-items-center p-3">
                                    <div class="left mr-3">
                                     
                                        <img alt="" src="{%static 'mainapp/img/logo/default.png'%}" class="rounded-circle">
    
                                    </div>
                                </a>
                                   
                                </div>
                            
                            </div>
                    </div>
                            <!-- profile-details -->
                            
                <div class="col-md-8 mb-3">
                    <div class="rounded shadow-sm">
                        <div class="edmund-cart-item-profile bg-white rounded shadow-sm p-4">
                            <div class="flex-column">
                                <h4 class="font-weight-bold"> Account Reset</h4>
                                <form class = "sign__form sign__form" method="post" enctype="multipart/form-data">
                                    <div class="form-group">
                                        <p class="text-muted">A Reset link is sent to your Email</p>

                                    </div>
                                   
                                </form>

                                <style>
                                    form {
                                        align-content: center;
                                        text-align: center;
                                    }
                                    h4,p{
                                        color:aliceblue;
                                        font-size: larger;
                                    }
                                    input{
                                    width: 100%;
                                      height: 35px;
                                    }
                                    
                                    </style>
                                <!-- Map -->
                                <div class="mapouter pt-3">
                                    <!-- <div class="gmap_canvas"><iframe width="100%" height="100%" id="gmap_canvas" src="https://maps.google.com/maps?q=dugri%20ludhiana&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe></div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer -->
   {%endblock content%}