{%extends 'mainapp/base.html'%}
{%load static%}
{%block content%}
	<!-- main content -->
	<main class="main">
		<div class="container-fluid">
			<div class="row row--grid">
				<!-- breadcrumb -->
				
				<!-- end breadcrumb -->

				<!-- sign in -->
				<div class="col-12">
					<div class="sign">
						<div class="sign__content">
							<!-- authorization form -->
							<!-- <form method="post" class="sign__form">
								<a href="{%url 'home'%}" class="sign__logo">
									<img src="{%static 'mainapp/img/logo.svg'%}" alt="">
								</a>
								<p style="color: red;">{{msg}}</p>
								<p style="color: red;">{{msg}}</p>

								<div class="sign__group">
									<input required name = 'username'type="text" class="sign__input" placeholder="Stage Name ">
								</div>
								{%csrf_token%}
								<div class="sign__group">
                                    <label style="color: white;">Profile Photo</label>
									<input required name = 'file' type="file" accept="image/*" >
								</div>
<!-- 
								<div class="sign__group sign__group--checkbox">
									<input  type="checkbox" checked="checked">
									<label for="remember">Remember Me</label>
								</div> -->
								
					
						</div>
					</div>
				</div>
				<!-- end sign in -->
									
				<h3 style="color: white;">Become Artist</h3>

									<div class="dashbox__table-scroll">
										<form  method="post" enctype="multipart/form-data">
				
													
											<div class="file-upload">
												<button class="file-upload-btn" type="button" onclick="$('.file-upload-input').trigger( 'click' )">Add
													Profile Photo</button>
													{%csrf_token%}
												<div class="image-upload-wrap">
													<input class="file-upload-input" name = "file" type='file' onchange="readURL(this);" accept="image/*" />
													<div class="drag-text">
														<h3>Drag and drop a file or select add Image</h3>
													</div>
												</div>
												<div class="file-upload-content">
													<img class="file-upload-image" src="#" alt="your image" />
													<div class="image-title-wrap">
														<button type="button" onclick="removeUpload()" class="remove-image">Remove <span
																class="image-title">Uploaded Image</span></button>
													</div>
												</div>
												<hr>
												<div>
													<label for="en" >Stage Name </label>
													<input class="inp" type="text" placeholder="Stage Name" name="username" id="en" required>

													
													

													<button class="registerbtn" type="submit">Submit</button>
												</div>
											</div>
										</form>
										
																			
									</div>
								


				<style>
					

				.file-upload {
					background-color: #16151a;
					width: 600px;
					margin: 0 auto;
					padding: 20px;
				}
				
				.file-upload-btn {
					width: 100%;
					margin: 0;
					color: #fff;
					background: #1FB264;
					border: none;
					padding: 10px;
					border-radius: 4px;
					border-bottom: 4px solid #15824B;
					transition: all .2s ease;
					outline: none;
					text-transform: uppercase;
					font-weight: 700;
				}
				
				.file-upload-btn:hover {
					background: #1AA059;
					color: #ffffff;
					transition: all .2s ease;
					cursor: pointer;
				}
				
				.file-upload-btn:active {
					border: 0;
					transition: all .2s ease;
				}
				
				.file-upload-content {
					display: none;
					text-align: center;
				}
				
				.file-upload-input {
					position: absolute;
					margin: 0;
					padding: 0;
					width: 100%;
					height: 100%;
					outline: none;
					opacity: 0;
					cursor: pointer;
				}
				
				.image-upload-wrap {
					margin-top: 20px;
					border: 4px dashed #1FB264;
					position: relative;
				}
				
				.image-dropping,
				.image-upload-wrap:hover {
					background-color: #1FB264;
					border: 4px dashed #ffffff;
				}
				
				.image-title-wrap {
					padding: 0 15px 15px 15px;
					color: #222;
				}
				
				.drag-text {
					text-align: center;
				}
				
				.drag-text h3 {
					font-weight: 100;
					text-transform: uppercase;
					color: #15824B;
					padding: 60px 0;
				}
				
				.file-upload-image {
					max-height: 200px;
					max-width: 200px;
					margin: auto;
					padding: 20px;
				}
				
				.remove-image {
					width: 200px;
					margin: 0;
					color: #fff;
					background: #cd4535;
					border: none;
					padding: 10px;
					border-radius: 4px;
					border-bottom: 4px solid #b02818;
					transition: all .2s ease;
					outline: none;
					text-transform: uppercase;
					font-weight: 700;
				}
				
				.remove-image:hover {
					background: #c13b2a;
					color: #ffffff;
					transition: all .2s ease;
					cursor: pointer;
				}
				
				.remove-image:active {
					border: 0;
					transition: all .2s ease;
				}

				.inp[type='text']{
					width: 100%;
					padding: 15px;
					margin: 5px 0 22px 0;
					display: inline-block;
					border: none;
					background: whitesmoke;
				}

				.inp[type='text']:focus {
					background-color: #ddd;
					outline: none;
				}

				label, p{
					color: #c0c0c0;
				}

				.registerbtn{
					background-color: teal;
					color: white;
					padding: 16px;
					border: none;
					cursor: pointer;
					width: 100%;
					margin: auto;
					opacity: 0.8;
				}

				.registerbtn:hover {
					opacity: 1;
				}

				input[type='number']{
					width: 20%;
					padding: 15px;
					margin: 5px 0 22px 0;
					display: inline-block;
					border: none;
					background: whitesmoke;
				}

				input[type='number']:focus {
					background-color: #ddd;
					outline: none;
				}
				</style>

				<script>
				function readURL(input) {
				if (input.files && input.files[0]) {
			
				var reader = new FileReader();
			
				reader.onload = function(e) {
					$('.image-upload-wrap').hide();
			
					$('.file-upload-image').attr('src', e.target.result);
					$('.file-upload-content').show();
			
					$('.image-title').html(input.files[0].name);
				};
			
				reader.readAsDataURL(input.files[0]);
			
				} else {
				removeUpload();
				}
			}
			
			function removeUpload() {
				$('.file-upload-input').replaceWith($('.file-upload-input').clone());
				$('.file-upload-content').hide();
				$('.image-upload-wrap').show();
			}
			$('.image-upload-wrap').bind('dragover', function () {
				$('.image-upload-wrap').addClass('image-dropping');
				});
				$('.image-upload-wrap').bind('dragleave', function () {
				$('.image-upload-wrap').removeClass('image-dropping');
			});
				</script>


			</div>
		</div>
	</main>
	<!-- end main content -->
{%endblock content%}