
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Payment Checkout</title>
</head>
<body>
  
<div class="login">

  <form method="POST" action="https://checkout.flutterwave.com/v3/hosted/pay">
        <!-- <p>txn_Ref = {{payment.transaction_id}}</p> -->
        Proceed to make your payment  of NGN{{payment.cost}} 
      <input type="hidden" name="public_key" value="{{FLUTTER_KEYS}}" />
      <input type="hidden" name="customer[email]" value="{{user.email}}" />
      <input type="hidden" name="customer[name]" value="{{user.username}}" />
      <input type="hidden" name="tx_ref" value="{{payment.transaction_id}}" />
      <input type="hidden" name="amount" value="{{payment.cost}}" />
      <input type="hidden" name="currency" value="NGN" />
      <input type="hidden" name="meta[token]" value="54" />
      <input type="hidden" name="redirect_url" value="http://localhost:8000/payment/success/" />
      <button type="submit" id="start-payment-button" class="btn">Pay Now</button>
    </form>
    </div>
    <style>
     .login{
        margin-top: 10%;
      }

      .btn{
        border: none;
        color: white;
        background-color: black;
        padding: 10px 30px;
        width: 40%;
        margin-left: 75px;
      }
  
      .btn:hover{
        background-color: green;
        color: white;
        
      }
    </style>
  
</body>
</html>
  
  