{%extends 'dashboard/base.html'%}
{%load static%}
{%block content%}    
            <!-- Container fluid  -->
            <div class="container">
                <!-- Start Page Content -->
               
                <!-- Start Page Content -->
                {%if withdraws%}

                    <div class="col-12">
                        <div class="card-body">
                            <h4 class="card-title btn-outline-primary">Withdrawals Placed</h4>
                            <div class="table-responsive m-t-40">
                                <table class="table table-de mb-0">
                                    <thead>
                                        <tr>
                                            <th>User</th>
                                            <th>Email</th>
                                            <th>Acc Num.</th>
                                            <th>Acc Name</th>
                                            <th>Acc type</th>
                                            <th>Bank</th>      
                                            <th>Amount</th>
                                            <th>Approve</th>
                                            <th>Cancel</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {%for withdraw in withdraws%}
                                        <tr>

                                            <td>{{withdraw.user}}</td>
                                            <td class="success">{{withdraw.user.email}}</td>
                                            <td>{{withdraw.account_number}}</td>
                                            <td>{{withdraw.account_name}}</td>
                                            <td>{{withdraw.account_type}}</td>
                                            <td>{{withdraw.bank}}</td>
                                            <td>{{withdraw.date_placed}}</td>
                                            <td>NGN {{withdraw.amount}}</td>
                                            <td>
                                                <form method = "post">
                                                <button class="btn btn-sm round btn-outline-success" name = "approve", value="{{withdraw.id}}"> Approve</button>
                                            </td>{%csrf_token%}
                                            <td>
                                                <button class="btn btn-sm round btn-outline-danger" name = "cancel", value="{{withdraw.id}}"> Cancel</button>
                                            </td>
                                        </form>
                                        </tr>
                                        {%endfor%}
                                        <div class="paginator">
                                            {% if is_paginated %}
                                                  {% if page_obj.has_previous%}
                                                  <a class="btn btn-outline-info mb-4" href="?page=1"> First</a>
                                                  <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number}}"> Previous</a>
                                            
                                                  {% endif %}
                                                    {% for num in page_obj.paginator.page_range %}
                                            
                                                      {% if page_obj.number == num%}
                                                      <a class="btn btn-info mb-4" href="%?page={{num}}"> {{num}}</a>
                                                      {%elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3'%}
                                                      <a class="btn btn-outline-info mb-4" href="?page={{num}}"> {{num}}</a>
                                            
                                                      {%endif%}
                                            
                                                    {%endfor%}
                                            
                                                {% if page_obj.has_next %}
                                                <a class="btn btn-outline-info mb-4" href="?page={{page_obj.next_page_number}} "> Next</a>
                                                <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages}}"> Last</a>
                                            
                                                {% endif %}
                                            
                                            
                                            {% endif %}
                                          </div>
                                    </tbody>
                                </table></div>
                        </div>
                    {%endif%}
                    {%if pastwithdraws%}
                    <div class="col-12">
                        <div class="card-body">
                            <h4 class="card-title btn-outline-success"> Approved Withdrawals </h4>
                            <div class="table-responsive m-t-40">
                                <table class="table table-de mb-0">
                                    <thead>
                                        <tr>
                                            <th>User</th>
                                            <th>Email</th>
                                            <th>Acc Num.</th>
                                            <th>Acc Name</th>
                                            <th>Acc type</th>
                                            <th>Bank</th>      
                                            <th>Amount</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {%for withdraw in pastwithdraws%}
                                        <tr>

                                            <td>{{withdraw.user}}</td>
                                            <td class="success">{{withdraw.user.email}}</td>
                                            <td>{{withdraw.account_number}}</td>
                                            <td>{{withdraw.account_name}}</td>
                                            <td>{{withdraw.account_type}}</td>
                                            <td>{{withdraw.bank}}</td>
                                            <td>{{withdraw.date_placed}}</td>
                                            <td>NGN {{withdraw.amount}}</td>
                                            <td> 
                                                 <button class="btn btn-sm round btn-outline-success" readonly> Approved</button>
                                            </td>
                                            
                                        </tr>
                                        {%endfor%}
                                    </tbody>
                                </table></div>
                        </div>
                    </div>
                {%endif%}
                 {%if cancelwithdraws%}
                        <div class="col-12">
                            <div class="card-body">
                                <h4 class="card-title btn-outline-danger"> Cancelled Withdrawals </h4>
                                <div class="table-responsive m-t-40">
                                    <table class="table table-de mb-0">
                                        <thead>
                                            <tr>
                                                <th>User</th>
                                                <th>Email</th>
                                                <th>Acc Num.</th>
                                                <th>Acc Name</th>
                                                <th>Acc type</th>
                                                <th>Bank</th>      
                                                <th>Amount</th>
                                                <th>Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {%for withdraw in cancelwithdraws%}
                                            <tr>
    
                                                <td>{{withdraw.user}}</td>
                                                <td class="success">{{withdraw.user.email}}</td>
                                                <td>{{withdraw.account_number}}</td>
                                                <td>{{withdraw.account_name}}</td>
                                                <td>{{withdraw.account_type}}</td>
                                                <td>{{withdraw.bank}}</td>
                                                <td>{{withdraw.date_placed}}</td>
                                                <td>NGN {{withdraw.amount}}</td>
                                                <td>                                                
                                                    <button class="btn btn-sm round btn-outline-danger" readonly> Cancelled</button>
                                                </td>
                                                
                                            </tr>
                                            {%endfor%}
                                        </tbody>
                                    </table>
                                
                                </div>
                            </div>
                            {%endif%}
                    </div>
            <!-- End PAge Content -->
{%endblock content%}    
